body:before { display: block;white-space: pre;background: rgba(0, 0, 0, 0.1);padding: 10px;width: 400px;margin: auto;border-radius: 3px;border: 2px solid red;content: "stylus:5\00000a   1| body, html\00000a   2|   background: red\00000a   3| \00000a   4| s09@()U\00000a > 5| \00000a\00000aexpected \"indent\", got \"eos\"\00000a"; }
