body:before {display: block;white-space: pre;font-family: monospace;background: rgba(0, 0, 0, 0.1);padding: 10px;margin: auto;border-radius: 3px;border: 2px solid red;content: "acetic compilation error\00000a\00000astylus:5\00000a   1| body, html\00000a   2|   background: red\00000a   3| \00000a   4| s09@()U\00000a > 5| \00000a\00000aexpected \"indent\", got \"eos\"\00000a";}
